[Unit]
Description=bulutbilisimciler-on-init-helper-v1.0.0
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/bb-on-init.sh
ExecReload=/usr/bin/bb-on-init.sh
WorkingDirectory=/root/workspace

[Install]
WantedBy=multi-user.target
